div {
    padding: 21px;
    border-radius: 20px;
}
.main {
    background-color: rgb(191, 189, 189);
    border: 1px solid rgb(191, 189, 189);
}
.post-1 {
    background-color: #34495E;
    margin-bottom: 20px;
}
.post-2 {
    background-color: #34495E;
    margin-bottom: 20px;
}
.post-3 {
    background-color: #34495E;
    margin-bottom: 20px;
}
p {
    color: white;
}

